body {
  background-color: #bc4749;
  color: #f2e8cf;
  font-size: larger;
}

.calculating {
  display: none;

}

.output {
  display: none;
  background-color: #126782;
  border: 4px solid #2a9d8f;
}

#missy {
  display: none;
  background-color: #126782;
  border: 4px solid #2a9d8f;
}

#warn {
  display: none;
}

#reload {
  display: none;
  margin-left: 27%;
}

div {
  margin: 2rem;
  border: 2rem;
  padding: 1rem;
}

.container {
  border: 5px solid #2a9d8f;
}

img {
  width: 70%;
  margin: 1rem;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 1rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  margin-top: 1rem;
}

input {
  border: 5px solid #1982C4;
}

p {
  font-size: larger;
  text-align: center;
}